html, body {
    background: #1A80BB;
    background-color: #1A80BB;
}

html.with-panel-left-cover .statusbar,
.statusbar {
    background: #1A80BB !important;
    transition: 250ms;
}

#app, 
#app .view {
    background: #1A80BB !important;
}

.statusbar-overlay {
    background: #1A80BB !important;
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.demo-card-header-pic .card-content-padding .date {
    color: #8e8e93;
}

.ios .view .navbar {
    background: #1A80BB;
    color: #fff;
}

    .ios .view .navbar .navbar-inner .left a {
        color: #fff;
    }

        .ios .view .navbar .navbar-inner .left a > .icon-back {
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'12'%20height%3D'20'%20viewBox%3D'0%200%2012%2020'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M.18261596%209.4221638c.0352203-.05148305.07573462-.10050698.1215468-.14631917L9.1425872.4374202c.5830904-.58309038%201.52656832-.5849888%202.11643872.00488163.5857864.58578644.591222%201.53009836.0048816%202.11643873L3.82594417%209.9967039l7.43188553%207.4318855c.5830904.5830904.5849888%201.5265683-.0048817%202.1164387-.5857864.5857865-1.5300983.591222-2.11643868.0048816L.2980849%2010.7114853c-.3526746-.3526746-.3939974-.89699-.11546894-1.2893215z'%20fill%3D'%23ffffff'%20fill-rule%3D'evenodd'%2F%3E%3C%2Fsvg%3E") !important;
        }

.book-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.book-list .book-list-item .book {
    min-height: 80px;
}

.book-list .book-list-item .book .book-header {
    min-height: 80px;
}

    .book-list .book-list-item .book .book-header .title {
        font-size: 15px;
        line-height: 15px;
    }

    .book-list .book-list-item .book .book-header img.book-cover {
        width: 56px;
        height: 80px;
    }

    .book-list .book-list-item .book .book-header .price {
        position: absolute;
        font-size: 15px;
        font-weight: 700;
        left: 66px;
        right: auto;
        bottom: 0;
        color: #1A80BB;
        padding: 0;
        background: transparent;
    }

    .book-list .book-list-item .book .book-header .details {
        position: absolute;
        font-size: 17px;
        font-weight: 700;
        right: 0;
        bottom: 0;
        color: #1A80BB;
        padding: 2px 8px 0 8px;
        background: #f2f2f2;
    }

        .book-list .book-list-item .book .book-header .details a {
            color: #1A80BB;
        }
    
.book .book-header {
    display: block;
    position: relative;
    min-height: 120px;
}

    .book .book-header img.book-cover {
        float: left;
        margin: 0 10px 15px 0;
        width: 90px;
        height: 120px;
    }

    .book .book-header .title {
        font-size: 17px;
        text-transform: uppercase;
    }

    .book .book-header .author {
        font-size: 13px;
    }

    .book .book-header .rating {
        position: absolute;
        left: 100px;
        bottom: 2px;
    }

        .book .book-header .rating small {
            font-size: 11px;
        }

        .book .book-header .rating .icon {
            color: #fa9000;
            font-size: 15px;
        }

    .book .book-header .price {
        position: absolute;
        font-size: 17px;
        font-weight: 700;
        right: 0;
        bottom: 0;
        color: #ffffff;
        padding: 2px 8px 0 8px;
        background: #1A80BB;
    }

.book .titlebar {
    background: #f8f8f8;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: 700;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin: 15px 0;
    clear: both;
}

.book .book-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
}

    .book .book-details ul li b {
        display: inline-block;
        float: right;
    }

.book .book-summary {
    font-size: 13px;
    padding: 0 15px;
}

.card + .block {
    margin-top: 15px !important;
}

.card.touched {
    background: #ededed !important;
}

.card.card-fail {
    background: #ff4a00;
}

.card.card-fail .result {
    color: #ffffff;
    padding: 8px;
}

.card.card-success {
    background: #44af00;
}

    .card.card-success .result {
        color: #ffffff;
        padding: 8px;
    }